/* This imports all of our partials to be compiled into one stylesheet, which you can than 
attach to your html.

All files that are previxed with an underscore "_name-of-file.scss" are called partials - meaning their css isn't 
compiled unless its imported into and unprefixed .scss file. */
/*This contains all our variables*/
/*variables are placeholders for storing information that you want to resuse throughout your styles.
You can store things like colors, font-stacks, or any css value you think you might want to reuse.
SCSS uses the $ symbol to declare a variable */
/* This file contains all our mixins */
/* This is our main file */
/* line 3, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/dsn1686-exercise2/scss/components/main */
body {
  background-color: #ffffff;
  font: normal 100%/1.5 sans-serif;
  margin: 0;
  padding: 0; }

/* line 10, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/dsn1686-exercise2/scss/components/main */
p {
  font-family: "open sans", sans-serif;
  font-size: 3rem;
  color: #ffffff;
  text-align: center; }

/* line 17, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/dsn1686-exercise2/scss/components/main */
.p1 {
  font-family: "open sans", sans-serif;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-top: -3rem; }

/* line 25, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/dsn1686-exercise2/scss/components/main */
.intro {
  background-color: #3f6276;
  text-align: center;
  padding: 6rem 0;
  font-size: 8rem; }

/* line 32, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/dsn1686-exercise2/scss/components/main */
.white-section {
  font-size: 5em;
  background-color: #ffffff;
  color: #3f6276;
  padding: 8rem 0;
  margin: -1rem -2rem 0 -2rem; }

/* line 41, /Users/agranieri/Documents/School/Graphic Design/Year 3/Year 3 Semester 2/Web Development V/exercises/dsn1686-exercise2/scss/components/main */
.blue-section {
  font-size: 4em;
  background-color: #3f6276;
  color: #ffffff;
  padding: 6rem 0; }

/*
.primary-btn {
	@include button($primary, #fff, $primary-dark);
}

.secondary-btn {
	@include button($secondary, #000, $secondary-dark);
}

.border {
	border: 1px solid $secondary-dark;
	p{
		background: green;
	}
}

ul {
	@extend .border;
}

a{
	a:hover{

	}
}

*/